span {
    color: darkslategrey;
    margin: 0px;
    font-family: 'Caveat', cursive;
}
h1{
    font-family: 'Caveat', cursive;
    color: rgb(0, 110, 74);
font-family: 'Noto Serif JP', serif;
}
h1{
    font-size: 50px;

}
p{
    font-family: 'Yomogi', cursive;
    font-weight: 600;

}
.flex-container{
    display: flex;
    margin-bottom: 10%;
}
.half-width{
    width:50%;
    padding-left: 2%;
}
.half-width img{
    width:100% ;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: bold;
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    padding:  10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.dream-big{
    background-image: url(images/instagram-hex-colors-gradient-background.png);
    background-repeat: no-repeat;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exp-item{
    box-shadow: 10px 10px 40px gray;
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    border-left: 5px solid;
}
.Experiences{
    background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;
}
#exp-unit{
       border-left: 7px solid;
       border-image: linear-gradient(blue cyan);
        border-image-slice: auto;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(orange yellow);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}